llama-index==0.10.38
llama-index-embeddings-huggingface==0.2.0
chromadb==0.5.0
llama-index-vector-stores-chroma==0.1.8
accelerate==0.29.3
einops==0.8.0
bitsandbytes==0.43.1
llama-index-llms-huggingface==0.2.0
fastapi==0.108.0
aiofiles==22.1.0
uvicorn==0.25.0
SQLAlchemy==2.0.25
python-multipart==0.0.9
packaging==24.0
# nest-asyncio==1.6.0
# pyngrok==7.1.6